@{
    ViewData["Title"] = "Home Page";
}
 
<div style="height:100vh;" class="row justify-content-center align-items-center">

<partial name="_RegistrationPartial" />

<partial name="_LoginPartial" />

</div>