@model ECommerceApp.ViewModels.LoginViewModel
<style>
#logform{
    background-color: transparent;
}
form{
    height: 380px;
}
input{
    width: 250px;
}
.btn btn-success btn-block{
    width: 50%;
}
</style>



<div id="logform" class="col-4">
    <h2>Login</h2><br>

<form asp-action="Login" asp-controller="Auth" method="POST">

    <label asp-for="LoginEmail">Email</label><br>
    <span asp-validation-for="LoginEmail"></span>
    <input asp-for="LoginEmail" type="email"><br>

    <label asp-for="LoginPassword">Password</label><br>
    <span asp-validation-for="LoginPassword"></span>
    <input asp-for="LoginPassword" type="password"><br><br>

    <input class="btn btn-success" type="submit" value="Submit">

</form>

</div>