<style>
    .modal-content{
    width: 130%;
    margin: 10px;
  }

</style>



<div class="row justify-content-center between align-items-center">
<partial name="_NavPartial" />
</div>
<partial name="_CheckoutPartial" />
