<style>
    table td,th {
        width:200px;
        text-align:center;
        border:2px solid black;
    }

    h5 {
        display:inline-block;
    }
    #backButton {
        margin-bottom:10px;
        margin-left:380px;
        display:inline-block;
    }


</style>

<div class="row justify-content-center between align-items-center">
<partial name="_NavPartial" />
</div>

<div class="container">
    <h5>Order Detail for Order No.@ViewBag.OrderId</h5>
    <a id="backButton" href="/orders" class="btn btn-primary">Go Back to Orders</a>


<table>

    <thead>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>SubTotal</th>
    </thead>

    <tbody>

@foreach(var item in @ViewBag.orderdetail)
{
    
    <tr>
        <td>@item.ProductName</td>
        <td>@item.Quantity</td>
        <td>$@item.Price</td>
        <td>$@item.SubTotal.ToString("N2")</td>
    </tr>
}
    <tr>
        <td align="right" colspan="3"><strong>Total</strong></td>
        <td><strong>$@ViewBag.total.ToString("N2")</strong></td>
    </tr>

    </tbody>
</table>

</div>