<style>
    body {
        margin:auto;
        <!-- margin-top:100px; -->
    }

    h6 {
        color:blue;
        text-align:center;
    }

    #brand {
        color:black;
    }

    #success {
        color:green;
        margin-top: 50px;
        text-align:center;
    }

</style>


<div class="row justify-content-center between align-items-center">
<partial name="_NavPartial" />
</div>


<h2 id="success">Your card has been successfully charged in the amount of <strong>$ @TempData["ChargeAmount"]</strong></h2>


<h6>Thank you for placing your order with <span id="brand">Tech Bazaar</span>. <br><br> 
Please check your order history for details about this order.</h6>