<style>
    h1, h2 {
        color:red;
    }
</style>


<div class="row justify-content-center between align-items-center">
<partial name="_NavPartial" />
</div>


<h1>Error</h1>
<h2>An error occurred while processing your request.</h2>